# env
.env
.env.local
.env.production
.env.development

# POVOLIT
!.env.example

node_modules/
frontend/node_modules/

server/uploads/
server/uploads/videos/
server/uploads/avatars/

dist
dist-ssr

logs
*.log